
<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
        
    <a style="color: white;" class="navbar-brand" href="#">USHODHAYA HOSPITALS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        

        <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/docdash">Back</a>
          </li>

      </ul>

    </div>
  
  </nav>
<div class="container">
    <label>ID : {{patient.id}}</label><br/>
    <label>Name : {{patient.name}}</label><br/>
    <label>Age : {{patient.age}}</label><br/>
    <label>Blood Group : {{patient.blood}}</label><br/>
    <label>Dose : {{patient.dose}}</label><br/>
    <label>Fees : {{patient.fees}}</label><br/>
</div>